@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    z-index: 1; // Ensure the textContainer is below the image

    .scrollPng {
      width: 50px;
      height: auto;
    }
  }

  .textContainer {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    z-index: 2; // Ensure textContainer is above the image

    h2 {
      font-size: 30px;
      color: rebeccapurple;
      letter-spacing: 10px;
    }

    h1 {
      font-size: 66px;
      @include mobile {
        font-size: 36px;
        gap: 20px;
        align-items: center;
        text-align: center;
      }
    }

    .buttons {
      button {
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin-right: 20px;
        cursor: pointer;
        font-weight: 300;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    top: 250px;
    white-space: nowrap;
    color: #ffffff11;
    width: 50%;
    font-weight: bold;
    z-index: 1; // Ensure the sliding text is below the image
  }

  .imageContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: auto;
    z-index: 0; // Ensure the image is below the textContainer and slidingTextContainer

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Media queries for tablet and mobile responsiveness
@include tablet {
  .hero {
    height: calc(100vh - 80px);

    .textContainer {
      width: 90%;
      height: 60%;
      gap: 30px;

      h1 {
        font-size: 50px;
      }

      .buttons {
        button {
          padding: 15px;
          margin-right: 15px;
        }
      }
    }

    .slidingTextContainer {
      font-size: 40vh;
      top: 200px;
      width: 60%;
    }

    .imageContainer {
      width: 50%;
      top: 10%;
    }
  }
}

@include mobile {
  .hero {
    height: calc(100vh - 60px);

    .textContainer {
      height: 50%;
      width: 100%;
      gap: 20px;

      h1 {
        font-size: 36px;
      }

      .buttons {
        button {
          padding: 10px;
          margin-right: 10px;
        }
      }
    }

    .slidingTextContainer {
      font-size: 30vh;
      top: 150px;
      width: 70%;
    }

    .imageContainer {
      height: 50%;
      z-index: 0;
      width: 100%;
      top: unset;
      bottom: 0;
    }
  }
}
