/* Base styles for the container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Base styles for the wrapper */
.wrapper {
  max-width: 1366px;
  height: 100%;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    gap: 30px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

/* Base styles for video container */
.videoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    width: 100%;
    max-width: 800px;
    height: auto;
    max-height: 450px;
  }

  @media (max-width: 1200px) {
    iframe {
      max-width: 600px;
      max-height: 340px;
    }
  }

  @media (max-width: 768px) {
    iframe {
      max-width: 100%;
      max-height: 315px;
    }
  }
}

/* Base styles for text container */
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-size: 72px;

    @media (max-width: 1200px) {
      font-size: 48px;
    }

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  p {
    color: gray;
    font-size: 20px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  button {
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;

    @media (max-width: 1200px) {
      width: 180px;
      padding: 8px;
    }

    @media (max-width: 768px) {
      width: 150px;
      padding: 6px;
    }
  }
}
